.calendar-wrapper {
  display: flex;
}

.time-column {
  width: 60px;
  height: 1440px;
}

.calendar {
  position: relative;
  height: 1440px;   /* 24 hours × 60px */
  flex: 1;
}

.hour-line {
  height: 60px;     /* each hour = 60px */
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}

.event {
  position: absolute;
  box-sizing: border-box;
  border: 1px solid #333;
  background: lightblue;
  overflow: hidden;
}

.now-line {
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background: red;
    z-index: 10;
}

.now-dot {
    position: absolute;
    left: -6px;
    top: -4px;
    width: 10px;
    height: 10px;
    background: red;
    border-radius: 50%;
}