.traffic-light-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 10px;
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 60px;
    margin: 50px auto;
}

.light{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: opacity .3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}